@charset "UTF-8";

/* 多标签选择器 */
p,div{font-size: 14px;}

/* 后代选择器 */
div p{background-color: #ccc;}

/* 直接子元素选择器 */
div>p{font-weight:bold; border: solid 2px #066;}

/* 相邻兄弟选择器 */
h3+p{font-weight: bold;}

/* 普通兄弟选择器 */
h3~p{background: #CCC;}
