@charset "UTF-8";
/* 字体颜色 */

div{
    padding: 1em;
    margin: 3em;
    color:white
}

.fontguqiaocolor{
    background-color: #F17666;
}

.fontshehongcolor{    
    background-color: #F19790;
}

.fontliuzihong{
    background-color: #F1908C;
}

.fontpinhongcolor{
    background-color: #EF3473;
}

.fontshangchacolor{
    background-color: #ED556A;
}


.fontzanghuacolor{
    background-color: #EC2D7A;
}

.fontfamily{
    font-family: "Microsoft Yahei";
}

.fontstyle{
    font-style: italic;
}

/* 设置小型大写字母或者正常型大写字母 */
.fontvariant{
    font-variant: small-caps;  /* 小型大写字母 */
}
.texttransform{
    text-transform: uppercase;
}

.fontWeight{
    text-indent: 40px;
    color: #F1939C;
    font-family: "Miscroft Yahei";
    font-weight: bold;
}

.lineheight{
    line-height: 10px;
}

.fontsize1{
    font-size: xx-large;
}

.fontsize2{
    font-size: 24px;
}

.fontall{
    /* 错误的字体属性设置，xx-small 是fontsize的属性值*/
    /* font: font-style font-variant font-weight font-size/line-height font-family */
    font:oblique small-caps xx-small 14px/20px Cambria,Microsoft Yahei;
}
.fontall1{
    font:oblique small-caps 300 14px/20px Cambria,Microsoft YaHei;
}