@charset "UTF-8";

/* 全局样式 */
*{padding:0;margin: 0px;}
body{font-size: 12px;font-family: Cambria,Microsoft Yehei;}
.clear{clear:both;}
.floatleft{float:left;}
.floatright{float:right;}
ul,li{list-style: none;}
a{color: #000; text-decoration: none;}

/* 系统色系 */
.redyinzhu{background: #F43E60;}
.redshizhong{background: #F2481B;}
.redcaomeihong{background: #EF6F48;}
.reddanzhe{background: #BE7E4A;}

.yellowxinghuang{background: #F28E16;}
.yellowliuhuang{background: #F9A633;}
.yellowzhizihuang{background: #DBBE0D;}

.bluehuaqing{background: #2376B4;}
.blueyuqinlan{background: #126E82;}
.bluefeiyancao{background: #0F59A4;}

.purpleyejuzi{background: #525288;}
.purpleluodian{background: #74759B;}

/* header */
.top_bg{
    height: 30px; 
    font:normal 12px/30px "宋体";
    background:#f7f7f7;
    border-bottom: 1px solid #CCC;
}
.top_content{
    width: 1200px;
    margin:0 auto;
}
.orange{
    font-weight: 700;
    color: #f60;
}

.orange:hover{
    color: #2376B4;
}

/* shopcart */
.shopcart_bg{display: inline-block; position: relative;}
.dropdown{display: none;}

/* logo banner */
.logo{
    width: 1200px; 
    height: 85px; 
    margin: 5px auto;
}

/* menu top */
.nav_bg{width: 100%;}
.nav_content{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
.nav{width:900px;float: left;margin-left: 200px;}
.nav li{
    width: 80px;
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    text-align: center;
    float: left;
    margin-left: 15px;
    padding:0 5px;
}
a.white{font-weight: 700; color: #FFF; padding: 0 5px;}
a:hover{
    color:#ff0;
    border-bottom: 2px solid #41B349;
    padding-bottom: 7px;
}
.active{background: #b12121;}

/* menu left */
.main{ width:1200px; margin: 10px auto;}
.menu{width: 220px; float: left;border:1px solid #e4e5e1;}
.menu li{
    width: 220px;
    height: 33px;
    font:small-caps lighter 13/33px Cambria,Microsoft Yahei;
    text-align: left;
    border-bottom: 1px solid #E4E5E1;
    background: #fafafa;
    float: left;
}
.menu li .title{
    width: 100%;
    min-height: 33px;
    font:small-caps bold 15px/33px Cambria,Microsoft Yehei;
    text-align: left;
    text-indent: 20px;
    color:#fff;
    display: inline-block;
}
.red_dot{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: auto 10px;
    font-size: 25px;
    background: url("../img/red_dot.gif");
}
.right_arrow{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: ("../img/arrow_r.jpg");
    /* float: right;  inline-block 属性忽略 */
}

/* footer */
footer{width: 100%;height: 310px; background: #efefef; margin-top: 15px;}
.foot_title{width: 100%; height: 40px;  padding-top: 8px;}
.foot_pic{
    width: 100%; 
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.foot_pic li{
    width: 210px; 
    font: small-caps lighter 24px/30px "华文琥珀";
    text-align: center; 
    color: #fff;
    float: left;
}
.foot_list{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.foot_list>li{
    width: 170px;
    float: left;
}
.foot_list li ul{
    padding-left: 10px;
}
.red1{
    width: 35px;height: 31px; 
    background: url("../img/red1") no-repeat; 
    display: block;
}
.line1{
    width: 2px; height: 70px;
    /* background: url(../img/line1) no-repeat; */
    background: #F2481B;
    display: inline-block;
    margin: 0 16px;
}
.font16{font-size: 16px; font-weight: 700;}
.red2{
    width: 35px;height: 31px; 
    /* background: url("../img/red2") no-repeat;  */
    background: #b12121;
    display: block;
}    
.red3{
    width: 35px;height: 31px; 
    background: url("../img/red3") no-repeat; 
    display: block;
}
.foot_line{
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    margin-top: 10px;
}
.copyright{
    text-align: center;
    padding: 10px 0;
}