@charset "UTF-8";
/* 全局样式 */
*{padding: 0;margin: 0;}
.displayenter{display: inline-flex;align-items: center;}
.floatleft{float: left;}
.floatright{float: right;}
.clear{clear: both;}

body{font-family: Cambria,'Microsoft Yahei'; font-size: 12px;}
ul,li{list-style: none;}
a{text-decoration: none; color: #000;}
a:hover{color: #126E82;}

/* 系统颜色 */
.redyinzhu{background: #F43E60;}
.redshizhong{background: #F24818;}
.redcaomeihong{background: #EF6F48;}
.reddanzhe{background: #BE7E4A;}

.yellowxinghuang{background: #F28E16;}
.yellowliuhuang{background: #F9A633;}
.yellowzhizihuang{background: #DBBE0D;}

.bluehuangqing{background:#2376B4;}
.blueyuqinlan{background: #126E82;}
.bluefeiyancao{background: #0F59A4;}

.purpleluodian{background: #525288;}
.purplejuzi{background: #74759B;}

header{
    height: 30px;
    font: 12px/30px '宋体';
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
}
.top_content{width: 90%; min-width: 1200px;margin: 0 auto;}
.orange{font-weight: 700; color: #f60;}
.orange:hover{color: #2376B4;}

/* 购物车 */
.shopcart_bg{display: inline-block;position: relative;}
.dropdown{display: none;}
.shop_pic img{width: 80px; height: 80px;}

/* section */
.logo{width: 90%; min-width: 1200px; height: 85px; margin: 5px auto;}

/* banner图片轮播 */
#imgBox{
    height: 85px;
    float: right;
}
#imgBox img{
    width: 860px;
    height: 100%;
}
#circle {
    width: 600px;
    text-align: center;
    position:relative;
    margin: 5px auto;
    bottom: 20px;
}

#circle>span {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #9621ea;
    border-radius: 5px;
    margin-left: 10px;
    opacity: 0.6;
}

.select {
    opacity: 1;
}

/* 顶部导航栏 */
.nav_bg{width: 100%; min-width: 1200px;}
.nav_content{width: 90%; min-width: 1200px; height: 40px; margin: 0 auto; line-height: 40px;}
.menu_top{width: 900px; float: left; margin-left: 200px;}
.menu_top li{
    width: 80px;
    font:700 16px/40px Cambria,'Microsoft Yahei';
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 15px;
    padding: 0 5px;
}
.menu_top li a:hover{
    color: #ff0;
    border-bottom: 2px solid #41B349;
    padding-bottom: 7px;
}
.active{background: #b12121;}
a.white{font-weight: 700; color: #fff; padding: 0 5px;}

/* 主体部分 */
.main{width: 90%; min-width: 1200px; margin: 10px auto;}
/* 右侧菜单区 */
.menu_left{width: 18%;float: left; border: 1px solid #e4e5e1;}
.menu_left li{
    width: 100%;
    height: 33px;
    font:small-caps 500 13px/33px Cambria,'Microsoft Yahei';
    text-align: left;
    border-bottom: 1px solid #e4e5e1;
    background: #FAFAFA;
    float: left;
}
.menu_left li .title{
    width: 100%;
    min-height: 33px;
    font:small-caps bold 15px/33px Cambria,'Microsoft Yahei';
    text-align: left;
    text-indent: 20px;
    color: #FFF;
    display: inline-block;
    border-radius: 0 0 40px 0;
}

.red_dot{
    width: 16px;
    height: 10px;
    display: inline-block;
    margin: 0 auto;
    font-size: 25px;
    background: url("../../Chapter09/img/icon/red_dot.jpg") no-repeat;
}
.right_arrow{
    width: 20px;
    height: 20px;
    display: inline-flex;
    float: right;
    background: url("../../Chapter09/img/icon/arrow_r.jpg") no-repeat;
}

/* 左侧推荐区 */
.right_advise{width: 24%; border: 1px solid #eee; float: right;}
.advise_title{
    background: #eee;
    line-height: 40px;
    font-size: 16px;
    text-indent: 20px;
    text-align: left;
}
.advise_pic_list{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advise_pic_list li{margin: 5px;float: left; width: 83px; height: 97.5px;}
.advise_pic_list li img{border: 1px solid #ccc;}

/* 底部页脚区 */
