@charset "UTF-8";

body{font-family: Cambria,'楷体';}

h2,h3,h4{font: 700 18px/28px Cambria,'楷体';}
h3{font-size: 16px;line-height: 26px;}
h4{font-size: 14px;line-height: 24px;}
.clear{clear: both;}
.floatleft{float: left;}
.floatright{float: right;}

hr{
    width: 90%;
    height: 1px;
    border: none;
    background: #594;
    margin: 5px auto;
}

.panel_bg{
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.panel_bg .panel{
    float: left;
    width: 630px;
    margin-left: 20px;
}
.panel_bg .panel h4{margin: 10px 0 0 10px;}
.panel_bg .panel p{margin: 10px 10px 10px 20px;}



.formclass,
.mediaclass,
.canvasbase{
    border: 1px solid #856D72;
    border-radius: 10px;
}
.formclass,
.mediaclass{
    width: 600px;
    height: auto;
    min-height: 200px;
    margin:20px 0 0 20px;
    float: left;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formclass .forminline{
    height: 15px;
    font: bold 14px/30px Cambria, Microsoft Yahei;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px auto;
}
.formclass .textarealine{
	height: 50px;
}
.forminline span {
    width: 280px;
    height: 28px;
    margin: 0 3px;
    border-bottom: 1px solid #edb132;
}
.canvasGroup,
.btnGroup {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}
.btnGroup{width: 600px; height: 40px;}

audio{
    width: 500px;
    margin: 10px auto;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
.white{
    width: 120px;
    height: 32px;
    color: #fff;
    font-family: Cambria, Microsoft Yahei;
    border: 1px solid #1F638F;
    border-radius: 10px;
    background: #1F638F;
    float: right;
}
.white {
    height: 30px;
    width: 185px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}
.white:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover {
    background: #ea4307;
    border: 1px solid #ea4307;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='range'],
input[type='number'],
textarea,
select {
    width: 280px;
    height: 25px;
    font: 14px/25px Cambria, Times 'Times New Roman';
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid #fcd304;
}
input[type='color'],
select {
    height: 30px;
    width: 285px;
}
option {
    line-height: 30px;
    font-family: Cambria, '楷体';
    font-size: 18px;
}
.formclass textarea{
	height: 40px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='date']:focus,
input[type='range']:focus,
input[type='number']:focus,
textarea:focus,
select:focus{
    border: none;
    outline: 2px solid #EA4307;
}

.checkboxgroup {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px;
}

.textinline{
    height: 50px;
}


table {
    width: 600px;
    margin: 5px auto;
    text-align: center;
    font: 500 14px/28px Cambria, '楷体';
    border: none;
    border-bottom: 1px solid #BBB5AC;
}
table caption{
    font: 700 16px/30px Cambria,'楷体';
    margin: 10px auto;
}
table tfoot input{
    float: left;
}

table th {
    font: bold 16px/32px Cambria, Microsoft Yahei;
    /* letter-spacing: 5px; */
    color: #15559A;
    /* background: #5CB3cc; */
    border: none;
    border-bottom: 1px solid #BBB5AC;
}

table td,
table tr {
    border: none;
    border-bottom: 1px solid #BBB5AC;
    padding: 3px;
}

/* table td:nth-child(2) {
    text-align: left;
} */

/* table tr:nth-child(even) {
    background: #F7DE98;
} */

table tbody tr:hover {
    background: #F9F4DC;
    border: 1px solid #F9F4DC;
    cursor: pointer;
}

td input[type="image"] {
    margin: 5px 5px -5px 5px;
    width: 20px;
}
