@charset "UTF_8";

.middle_index_good{
    width: 977px;
    float: left;
}
.carousel_bg{
    height: 350px;
    margin: 0 5px;
    float: left;
    display: inline-flex;
}
.carousel_pic_bg{ width: 690px; margin-right: 5px;}
.pic_focusbox{
    width:120px;
    top:490px;
    left: 50%;
    margin-left: -60px;
    list-style: none;
    position: absolute;
}
.pic_focusbox li{
    width: 15px;
    height: 15px;
    background-color: gray;
    margin-left: 10px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.pic_focusbox li.cur{
    background: #f60;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.pic_focusbox li img{ height: 350px;}


.messsage_list_bg{width: 275px; border: 1px solid #e4e5e1;}
.message_title{
    height: 40px;
    font: 700 14px/40px Cambria,Microsoft Yahei;
    color:#fff;
    text-indent: 20px;
    letter-spacing: 10px;
}
.messsage_list_bg ul li{
    list-style-type: disc;
    list-style-position: inside;
    font: lighter 12px/30px Cambria,Microsoft Yahei;
    text-indent: 2px;
}
.brand_pic{
    display: inline-table;
    margin-top: 5px;
    width: 100%;
}
.brand_pic img{
    width: 90px;
    height: 36px;
}
.brand_pic img:nth-child(2),
.brand_pic img:nth-child(5),
.brand_pic img:nth-child(8){
    margin: 3px;
}

.good_type_bg{
    background: #c7bad0;
    margin-top: 10px;
    margin-left:5px ;
}
.good_type_bg ul{

}
.good_type_bg ul li{
    float: left;
    width: 192px;
    height: 218px;
    border: 1px solid #e4e5e1;
}

.type_pic{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.type_pic div{
    width: 65px;
    height: 65px;
    margin: 8px 20px 0 5px;
    border-radius: 60px 60px;
    border: 1px solid #e4e5e1;
}

.type_pic span{
    margin: 5px 3px;
    padding: 3px;
}
.type_name{
    margin-top:20px ;
}
.type_name span{
    font:lighter 12px/40px Cambria,Microsoft Yahei;
    margin-left: 8px;
}