@charset "UTF-8";


body{font-family: Cambria,'楷体';}

h2,h3,h4{font: 700 18px/28px Cambria,'楷体';}
h3{font-size: 16px;line-height: 26px;}
h4{font-size: 14px;line-height: 24px;}
.clear{clear: both;}
.floatleft{float: left;}
.floatright{float: right;}

hr{
    width: 90%;
    height: 1px;
    border: none;
    background: #594;
    margin: 5px auto;
}

.panel_bg{
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.panel_bg .panel{
    float: left;
    width: 630px;
    margin-left: 20px;
}
.panel_bg .panel h4{margin: 10px 0 0 10px;}
.panel_bg .panel p{margin: 10px 10px 10px 20px;}


input[type='text']{
    width: 180px;
    height: 25px;
    font:14px/25px Cambria,Microsoft Yahei;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid #F0ADA0;
}

input[type='text']:focus{
    border:none;
    outline: 1px solid #ED5126;
}

input[type='button']{
    width: 100px;
    height:32px;
    color: #FFF;
    /* font:bold 16px/32px "宋体"; */
    border-radius: 10px;
    border: 1px solid #2983bb;
    background: #2983bb;
    float: right;

}

input[type='button']:hover{
    border: 1px solid #D2B116;
    background: #D2B116;
}