@charset "UTF-8";

/* 购物广场样式 */
.middle_good{width: 690px;float: left;}
.pic_title_good{
    width: 680px;
    font:small-caps bold 14px/40px Cambria,Microsoft Yahei;
    color:#fff;
    text-align: left;
    text-indent: 20px;
    margin: 0 10px 10px;
    float: left;
}
.pic_list_good{float: left;}
.pic_list_good div{height: 202px;}
.pic_list_good dl{width: 152px;margin: 0 10px 10px;float: left;}
.pic_list_good dl img{border: 1px solid #ccc;padding: 5px;margin-bottom: 10px;}
.pic_list_good dl dd{float: left;}

.price{font-size: 15px; font-weight: 700; color: red; float: left;}
.font12{font-size:12px;color: #ccc;float: right;}

.pic_list_good2{margin: 0 6px 0 12px;}
.pic_list_good2 li{width: 160px;height: 311px; margin: 5px 4px; float: left;}
.pic_list_good2 div{height: 280px;}


/* 美食广场样式 */
.middle_food{width: 80%; float: left;}
.pic_title_food{width: 97%; height:33px;margin: 1px 10px;}
.iconfood{display: inline-flex;justify-content: center; align-items: center;}
.iconfood img{width: 20px; height: 20px;}
.iconfood span{
    font:bold 16px/33px Cambria,Microsoft Yahei;
    letter-spacing: 4px;
    margin: auto;
    cursor: pointer;
}
.iconfood .orange{font-size: 10px; letter-spacing: 0;cursor: pointer;}
.pic_list_food{
    height: 440px;
    border: 1px solid #f4f5f0;
    padding: 20px;
    margin: 10px;
}
.pic_list_food dl{width: 275px;margin: 10px;float: left;}
.pic_list_food dl div{height: 140px;}
.pic_list_food dl img{border: 1px solid #CCC; padding:5px; margin: 10px;}
.pic_list_food dl dt{
    font: small-caps bold 14px/33px Cambria,Microsoft Yahei;
    text-align: center;
    background: #e4e5e1;
}
.pic_list_food dl dd{margin: 10px 0;}
.price_food{font-weight: 700; color: red; float: left;}

.pic_across{
    width: 1200px;
    height: 180px; 
    margin: 0 auto;
}
.pic_across_list{
    height: 140px;
    border-top: 2px solid #41B349;
    border-bottom: 2px solid #41B349;
    position: relative;
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 10px;
}
.pic_across_list dl{margin: auto 5px; width: 180px; }
.pic_across_list dl div{height: 100px;}
.pic_across_list dl img{border: 1px solid #CCC; padding: 5px; margin:auto;}
/* .pic_across_list dl dt{}
.pic_across_list dl dd{} */
