@charset "UTF-8";
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Microsoft Yahei ;
}

div {
    width: 600px;
    margin: 0 auto;
    display: block;
    font: 14px/44px Cambria, Microsoft Yahei;
}

#cookieDiv{
    background: #bcd2c3;
    height: 200px;
    border-radius: 10px;
}

h4{
    text-indent: 40px;
}


#btngroup {
    height: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

#timeDiv {
    height: 22px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type='text'],
input[type='password'],
select {
    width: 280px;
    height: 25px;
    font: 14px/25px Cambria, Times 'Times New Roman';
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid #fcd304;
}
select{
    height: 30px;
    width: 285px;
}
option {
    line-height: 30px;
    font-family: Cambria,'楷体';
    font-size: 18px;
}

input[type='text']:focus,
input[type='password']:focus,
select:focus {
    border: none;
    outline: 2px solid #EA4307;
}

input[type='button'],.white{
    width: 120px;
    height: 32px;
    color: #fff;
    font-family:Cambria, Microsoft Yahei;
    border: 1px solid #1F638F;
    border-radius: 10px;
    background: #1F638F;
    float: right;
}

.white{
    height: 30px;
    width: 185px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
}

input[type='button']:hover,.white:hover {
    background: #ea4307;
    border: 1px solid #ea4307;
}

img {
    width: 20px;
}