.panel {
    width: 970px;
    height: 230px;
    margin: 10px 20px;
    font-family: '楷体';
    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #5CB3cc;
    background: #5CB3cc;
    border-radius: 10px;
}
/* div span{
    display: block;
} */
.panel span::first-letter {
    margin: 0 5px;
    padding-left: 2px;
    line-height: 40px;
    border-left: 2px solid #FFF;
}

p {
    font: lighter 14px/22px Cambria,'楷体';
    color: #FFFF;
    padding: 0 40px;
    margin-top: -5px;
}